.countries {
    font-family: Geometria;
    margin-bottom: 30px;
}

.mainContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: Geometria;
    color: #3330E4;
    font-size: 28px;
    font-weight: 800;
    line-height: 30.19px;
    text-align: left;
    margin-top: 32px;
}

.seeAllButton {
    border: none;
    /*padding: 10px;*/
    /*margin-left: 40px;*/
    margin-top: 40px;
    border-radius: 6px;
    cursor: pointer;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.64px;
    text-align: left;
    color: #00000080;
}

.categoriesList {
    font-family: Geometria;
    font-size: 22px;
    font-weight: 500;
    line-height: 22.64px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

.categoriesListItem {
    margin: 0 0 20px 0;
}

.categoryItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.countryItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoriesListItem label,
.countriesListItem label {
    display: flex;
    align-items: center;
}

.countriesList {
    font-family: Geometria;
    list-style-type: none;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 500;
    text-align: left;
}

.countriesListItem {
    margin-top: 15px;
}

.countriesListItem label {
    display: flex;
    align-items: center;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #3330E4;
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.checkboxChecked {
    background-color: #3330E4;
    background-image: url('../../../../../images/vector.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.randomNumberButton {
    width: 58px;
    height: 31px;
    border-radius: 18.5px;
    background: #3330E41A;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 300;
    line-height: 22.64px;
    text-align: center;
    color: #000000;
    /*margin-right: 5px;*/
    margin-left: 40px;
}

.randomNumberButton:hover {
    color: white;
    border-radius: 18.5px;
    background: #3330E41A;
    /*border: 1px solid #3330E4;*/
    color: #000000;
}

@media (max-width: 768px) {
    .mainContainer {
       gap: 10px;
    }

    .title {
        font-size: 24px;
        line-height: 28px;
    }

    .seeAllButton {
        font-size: 18px;
        padding: 28px 0 0 0;
        margin-top: 10px;
    }

    .categoriesList {
        font-size: 18px;
        line-height: 22px;
        margin: 20px 0 0 0;
    }

    .categoriesListItem {
        margin: 0 0 10px 0;
    }

    .categoryItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*gap: 8px;*/
    }

    .countryItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .countriesList {
        font-size: 18px;
    }

    .countriesListItem {
        margin-top: 10px;
    }

    .randomNumberButton {
        font-size: 14px;
        width: 50px;
        height: 28px;
        border-radius: 14px;
        margin-left: 55px;
    }

    .checkbox {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }
}

