.offers-footer {
    width: 87.5%; 
    margin-left: 20px;
    position: sticky; 
    bottom: 0; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    z-index: 1000;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 4px 20px 0px #3330E480;
    margin-bottom: -40px;
    
    @media screen and (max-width: 1200px) {
        width: 75%;
    }
    @media screen and (max-width: 1000px) {
        height: 100px;
        flex-direction: column;
        width: 50%;

        .left-side {
            margin: 0 auto !important;
        }
        
        .right-side {
            margin: 0 auto !important;
        }
    }
}

.offers-footer .left-side {
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 500;
}

.offers-footer .right-side {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: Geometria;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
}

@media screen and (max-width: 768px) {
    .offers-footer {
        display: none;
    }
}