.promo-link {
    margin: 10px auto;
    border-radius: 30px;
    background: #EEF0F2;
    height: 35px !important;
    width: 400px;
    display: flex;
    align-items: center;
    cursor: default;
}

.promo-link-button {
    border-radius: 30px;
    width: 27%;
    margin-left: 5px;
    background: #3330E4;
    font-family: Geometria;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
    cursor: pointer;
    padding-bottom: 2px;
}

.promo-link-span {
    font-family: Geometria;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    margin-left: 3px;
    cursor: default;
}